@font-face {
  font-family: "BerlinSans";
  src: url("~@/assets/font/BerlinSans.eot"); /* IE9 Compat Modes */
  src: url("~@/assets/font/BerlinSans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~@/assets/font/BerlinSans.otf") format("opentype"), /* Open Type Font */
    url("~@/assets/font/BerlinSans.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~@/assets/font/BerlinSans.woff") format("woff"), /* Modern Browsers */
    url("~@/assets/font/BerlinSans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antaro";
  src: url("~@/assets/font/Antaro.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
